table { 
    border: 2px solid rgb(73, 14, 223); 
    border-radius: 5px;
    margin: 50px auto;
    width: 100px;
    padding: 10px;
    background-color: beige;
} 
  
input[type="button"] { 
    margin-top: 10px;
    width: 80%; 
    padding: 12px; 
    background-color: rgb(46, 49, 46); 
    color: rgb(175, 172, 211); 
    font-size: 18px; 
    font-weight: bold;
    border: ridge;
    border-radius: 100%;
} 
  
input[type="text"] { 
    padding: 10px; 
    font-size: 22px; 
    font-weight: bold; 
    border: ridge; 
    border-radius: 50px; 
    border: 2px solid rgb(245, 228, 228); 
    background-color: blanchedalmond;
} 